kicad/barebones/production
src/pal-expansion/CMakeFiles
build
kicad/barebones/barebones.kicad_pcb.zip
kicad/barebones/pal1-pico-rom.kicad_pcb.zip
kicad/barebones/production
kicad/barebones/barebones-backups/
kicad/pal1-pico-rom/pal1-pico-rom-backups/
kicad/pal1-pico-rom/pal1-pico-rom.kicad_pcb.zip
kicad/level-shifted/jlcpcb/**
kicad/level-shifted/level-shifted-backups/**
kicad/level-shifted/jlcpcb/**
kicad/mplex/jlcpcb/**
kicad/mplex/mplex/**
kicad/mplex/jlcpcb/**
