build
kicad/barebones/barebones-backups/
kicad/pal1-pico-rom/pal1-pico-rom-backups/
kicad/barebones/barebones.kicad_pcb.zip
kicad/barebones/pal1-pico-rom.kicad_pcb.zip
kicad/pal1-pico-rom/pal1-pico-rom.kicad_pcb.zip
kicad/barebones/production
